.row
	.col-md-12
		label.control-label(for="name") Name
		input(placeholder="e.g., Fenway Park" type="text" id="name" value="{{entry.name}}")
.row
	.col-md-12
		h3 #[i.glyphicon.glyphicon-home] Address and Location Details
.row
	.col-md-6
		label(for="address") Address 1
		input(placeholder="e.g., 4 Yawkey Way" type="text" id="address" value="{{entry.address}}")
		label(for="address_extended") Address 2
		input(placeholder="e.g., Ste A" type="text" id="address_extended" value="{{entry.address_extended}}")
		label(for="neighborhood") Neighborhood(s)
		input(placeholder="e.g., Fenway" type="text" id="neighborhood" value="{{entry.neighborhood}}" disabled="true")
		label(for="po_box") PO Box
		input(placeholder="e.g., 12345" type="text" id="po_box" value="{{entry.po_box}}")
	.col-md-6
		label(for="locality") City
		input(placeholder="e.g., Boston" type="text" id="locality" value="{{entry.locality}}")
		label(for="region") State/Region
		input(placeholder="e.g., MA" type="text" id="region" value="{{entry.region}}")
		label(for="postcode") Postcode
		input(placeholder="e.g., 02215" type="text" id="postcode" value="{{entry.postcode}}")
		label(for="country") Country
		input(placeholder="e.g., USA" type="text" id="country" value="{{entry.country}}")
.row
	.col-md-12
		h3 #[i.glyphicon.glyphicon-earphone] Contact Details
.row
	.col-md-6
		label(for="tel") Phone
		input(placeholder="e.g., (123) 456-7890" type="tel" id="tel" value="{{entry.tel}}")
		label(for="fax") Fax
		input(placeholder="e.g., (123) 456-7890" type="tel" id="fax" value="{{entry.fax}}")
	.col-md-6
		label(for="email") Email
		input(placeholder="e.g., person@website.com" type="email" id="email" value="{{entry.email}}")
		label(for="tel") Website URL
		input(placeholder="e.g., http://example.com" type="text" id="website" value="{{entry.website}}")
.row
	.col-md-12
		h3 #[i.glyphicon.glyphicon-globe] Geolocation Details
.row
	.col-md-6
		label(for="latitude") Latitude
		input(placeholder="e.g., 42.346806" type="number" id="latitude" value="{{entry.latitude}}")
	.col-md-6
		label(for="longitude") Longitude
		input(placeholder="e.g., -71.097211" type="number" id="longitude" value="{{entry.longitude}}")
.row
	.col-md-12
		h3 #[i.glyphicon.glyphicon-briefcase] Business Details
.row
	.col-md-6
		label(for="hours") Hours
		input(placeholder="" type="number" id="hours" value="{{entry.hours}}")
	.col-md-6
		label(for="chain_id") Chain ID
		input(placeholder="e.g., 12345" type="number" id="chain_id" value="{{entry.chain_id}}")
		label(for="chain_name") Chain Name
		input.warning(placeholder="e.g., Major League Baseball" type="text" id="chain_name" value="{{entry.chain_name}}"  disabled="true")
.row
	.col-md-12
		h3 #[i.glyphicon.glyphicon-th-list] Category Details
.row
	.col-md-6
		label(for="category_ids") Category IDs
		textarea(type="number" id="category_ids") {{entry.category_ids}}
	.col-md-6
		label(for="category_labels") Category Labels
		textarea(type="text" id="category_labels" disabled="true") {{entry.category_labels}}
.row
	.col-md-12




