.search-container
	.row
		.col-md-12
			form.search.form-search
				fieldset
					input.search-query.form-control(type="text" name="query" placeholder="type what you're looking for" ng-model="query" autofocus)
					button.btn.btn-primary(type="submit" ng-click="getData()") get data
			p.alert.center-justify(ng-if="message.text" class="{{message.type}}") {{message.text}}
	.row.results-container
		.col-md-12
			table.table.table-striped.table-hover.results.left-justify(ng-if="data")
				thead
					th Name
					th Address
					th City
					th State/Region
					th Postcode
					th Country
					th Phone
					th URL
					th Labels
					th
				tbody(ng-repeat="entry in data")
					td {{entry.name}}
					td {{entry.address}}
					td {{entry.locality}}
					td {{entry.region}}
					td {{entry.postcode}}
					td {{entry.country}}
					td {{entry.tel}}
					td {{entry.website}}
					td: span(ng-repeat="label in entry.category_labels[0]") {{label}};&nbsp;
					td
						.edit-entry-modal(ng-controller="editEntryModalController")
							button.btn.btn-primary(ng-click="open(entry)") edit
							script(type="text/ng-template" id="myModalContent.html")
								.modal-header
									h2 {{entry.name}}
								.modal-body
									form
										.row
											.col-md-12
												label.control-label(for="name") Name
												input(type="text" id="name" value="{{entry.name}}")
										.row
											.col-md-12
												h4 Address and Location Details
										.row
											.col-md-6
												label.control-label(for="address") Address
												input(type="text" id="address" value="{{entry.address}}")
												label.control-label(for="address") City
												input(type="text" id="locality" value="{{entry.locality}}")
												label.control-label(for="region") State/Region
												input(type="text" id="region" value="{{entry.region}}")
											.col-md-6
												label.control-label(for="postcode") Postcode
												input(type="text" id="postcode" value="{{entry.postcode}}")
												label.control-label(for="country") Country
												input(type="text" id="country" value="{{entry.country}}")
								.modal-footer(ng-controller="editEntryController")
									p.alert.center-justify(ng-if="message.text" class="{{message.type}}") {{message.text}}
									button.btn.btn-primary(ng-click="edit(entry)") Submit Changes
									button.btn.btn-primary(ng-click="ok()") Close
									.footer.center-justify
										img(src="img/hrwlogo1.png")
hr
.add-container.center-justify(ng-controller="collapseController")
	button.btn.btn-success(ng-click="toggle()") add data
	.collapsed(collapse="isCollapsed")
		form.add.left-justify(ng-controller="addEntryController")
			.row
				.col-md-12
					h4 Name
			.row
				.col-md-12
					label(for="name") Name
					input(type="text" id="name" ng-model="name" placeholder="Dewey, Cheatham, & Howe")
			.row
				.col-md-12
					h4 Address and Location Details
			.row
				.col-md-6
					label(for="address") Address
					input(type="text" id="address" ng-model="address" placeholder="12 Dante's Inferno")
					label(for="address") City
					input(type="text" ng-model="locality" placeholder="San Diego")
					label(for="region") State/Region
					input(type="text" ng-model="region" placeholder="CA")
				.col-md-6
					label(for="postcode") Postcode
					input(type="text" ng-model="postcode" placeholder="92110")
					label(for="country") Country
					input(type="text" ng-model="country" placeholder="USA")
			.row
				.col-md-12
					h4 Contact Details
			.row
				.col-md-6
					label(for="tel") Phone
					input(type="tel" ng-model="tel" placeholder="555-555-5555")
				.col-md-6
					label(for="tel") Website URL
					input(type="website" id="website" ng-model="website" placeholder="http://www.deweycheatamandhowe.com")
			.row
				.col-md-12.right-justify
					button.btn.btn-success(type="submit" ng-click="add()") add
			.row(ng-if="message.text")
				.col-md-12.center-justify
					p.alert(class="{{message.type}}") {{message.text}}




