.search-container
	.row
		.col-md-12
			form.search.form-search
				fieldset
					input.search-query.form-control(type="text" name="query" placeholder="type what you're looking for" ng-model="query" autofocus)
					.add-container.center-justify(ng-controller="addEntryCollapseController")
						button.btn.btn-primary(type="submit" ng-click="getData()") get data
						button.btn.btn-success(ng-click="toggle()") {{buttonText}}
						.collapsed.left-justify(collapse="isCollapsed")
							include forms/_add.jade
			p.alert.center-justify(ng-if="messageGetData.text" class="{{messageGetData.type}}") {{messageGetData.text}}
	.row.results-container
		.col-md-12
			table.table.table-striped.table-hover.results.left-justify(ng-if="data")
				thead
					th Name
					th Address
					th City
					th State/Region
					th Postcode
					th Country
					th Phone
					th URL
					th Labels
					th
					th
				tbody(ng-repeat="entry in data")
					td {{entry.name}}
					td {{entry.address}}
					td {{entry.locality}}
					td {{entry.region}}
					td {{entry.postcode}}
					td {{entry.country}}
					td {{entry.tel}}
					td {{entry.website}}
					td: span(ng-repeat="label in entry.category_labels[0]") {{label}};&nbsp;
					td
						.flag-entry-modal(ng-controller="flagEntryModalController")
							button.btn.btn-danger(ng-click="open(entry)") flag
							script(type="text/ng-template" id="flagEntryModal.html")
								.modal-header
									h3.center-justify {{entry.name}}
								.modal-body
									p.center-justify What do you want to flag #[em {{entry.name}}] for?
									form.flag.center-margins.center-justify
										select.center-margins.center-justify(name="problem" ng-model="problem")
											option(value="duplicate" selected) duplicate
											option(value="inappropriate") inappropriate
											option(value="nonexistent") nonexistent
											option(value="relocated") relocated
											option(value="spam") spam
								.modal-footer(ng-controller="flagEntryController")
									p.alert.center-justify(ng-if="messageFlag.text" class="{{messageFlag.type}}") {{messageFlag.text}}
									button.btn.btn-danger(ng-click="flag(entry)" type="submit" ng-if="!messageFlag.text") flag
									button.btn.btn-primary(ng-click="ok()" ng-if="!messageFlag.text") nevermind
									button.btn.btn-primary(ng-click="ok()" ng-if="messageFlag.text") ok
					td
						.edit-entry-modal(ng-controller="editEntryModalController")
							button.btn.btn-primary(ng-click="open(entry)") edit
							script(type="text/ng-template" id="myModalContent.html")
								.modal-header
									h2.center-justify {{entry.name}}
								.modal-body
									form.edit
										include forms/_edit.jade
								.modal-footer(ng-controller="editEntryController")
									p.alert.center-justify(ng-if="messageEdit.text" class="{{messageEdit.type}}") {{messageEdit.text}}
									button.btn.btn-primary(ng-click="edit(entry)" ng-if="!messageEdit.success") submit
									button.btn.btn-danger(ng-click="ok()") close
									.footer.center-justify
										img(src="img/hrwlogo1.png")
	.row
		.col-md-12.center-justify
			button.btn.btn-primary.spaced(ng-click="clear()" ng-if="data") clear




